<div class='w-5/6 -translate-x-12 px-10 mt-14 mb-36 ml-2 cardContainer'>
  <div class="flex text-zinc-700 bg-green-300 rounded-xl p-2 my-10 w-80 card w-full" id='card{{post.id}}'>
      <div class="w-full py-3 px-5">
          <form class='editPostForm'>
            <div class="h-full grid grid-rows-4 grid-cols-7">
              <input type='text' class="bg-transparent font-bold text-xl text-zinc-700 h-fit col-span-5 mb-5" value='{{post.title}}' placeholder='Title' id='editPostTitle' data-post-id='{{post.id}}' autocomplete='off'/>
              <input type='text' class='bg-transparent text-zinc-700 row-start-2 col-span-5' value='{{post.postContent}}' placeholder='Content' id='editPostContent' autocomplete='off'/>
              <input type='text' class='bg-transparent text-zinc-700 row-start-3 col-span-5' value='{{post.url}}' placeholder='Url' id='editPostLink' autocomplete='off'/>
              <div class='grid justify-center row-start-4 col-start-6 col-span-2'>
                  <button type='submit' class='btn btn-primary border border-zinc-700 rounded-lg h-fit w-fit py-1 px-2' id='editSaveBtn'>Save</button>
              </div>
            </div>
          </form>
      </div>
  </div>
</div>
<script src="/js/editPost.js"></script>
